@model MvcBlog.Models.ViewModels.PostVM

@{
    ViewData["Title"] = "Create";
}

@section Head {
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
        type="text/css" />
}

<div class="row mt-4">
    <div class="col-md-6 mx-auto">
        <div class="card border rounded-0 border-2 shadow-sm">
            <div class="card-header text-white" style="background-color: #7b3f9e;">
                <h5>New Post</h5>
            </div>
            <div class="card-body">
                <form asp-controller="Posts" asp-action="Create">
                    <div class="mb-3">
                        <label asp-for="Title" for="title" class="form-label">Title</label>
                        <input type="text" asp-for="Title" class="form-control" id="title"
                            placeholder="Enter post title">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Body" for="froala-editor" class="form-label">Body</label>
                        <textarea asp-for="Body" class="form-control" id="froala-editor-dark-theme" rows="4"
                            placeholder="Enter post content"></textarea>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="SelectedCategories" for="categories"
                            class="form-label">Categories</label>
                        <select asp-for="SelectedCategories" class="form-select" id="categories" multiple
                            aria-label="Multiple select example">
                            @foreach (var item in ViewBag.Categories)
                            {
                                <option value="@item.ID">@item.Title</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedCategories" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Create Post</button>
                </form>
                <a class="btn btn-secondary mt-2" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>  
    <script> 
        var editor = new FroalaEditor('textarea#froala-editor-dark-theme',
        {
            theme: 'dark'
        });
    </script>
}